
<div>Current Page {{CurrentPage}}</div>

<button (click)="getNextPage()">Next Page</button>
<div 
            infiniteScroll
            [infiniteScrollDistance]="1"
            [infiniteScrollThrottle]="50"
            [infiniteScrollUpDistance]="2"
            (scrolled)="onScroll()">
        



  <ul>  
    <li *ngFor="let item of MainPage$.demotivatorCollection">
      <img src="{{item.imgUrl}}" />
      
      
    </li>

    <!-- <li *ngFor="let item of MainPage$.demotivatorVideoCollection">
        <img src="{{item.imgUrl}}" />
      <video controls> 
        <source src="{{item.videoUrl}}" type="video/mp4">   

      </video>
      
      
    </li> -->
  </ul>
</div>