<!-- <a  (click)="getNextPage()" class="rainbow-button" alt="Next Page"></a> -->


<div  
            infiniteScroll
            [infiniteScrollDistance]="1"
            [infiniteScrollThrottle]="50"
            [infiniteScrollUpDistance]="2"
            (scrolled)="onScroll()">

            <div>Current Page {{CurrentPage}}</div>


<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

    <div  *ngFor="let item of MainPage$.jbzdyModels">
      <div class="title" >{{item.title}}</div>
      <a href="{{item.url}}"> <img src="{{item.imgUrl}}" /> </a>
    </div>


    
</div>

